{{ $path := .RelPermalink }}
{{- with .Resources.ByType "image" }}
    {{ with .GetMatch "{cover.*}" }}
            <a href="{{ $path }}" class="image featured">
                <img src="{{ .Permalink }}" alt="{{ $.Title }}">
            </a>
    {{ else}}
        {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
            {{ $cover := .Fit "300x300" }}
            {{ with $cover }}
            <a href="{{ $path }}" class="image featured">
                <img src="{{ .Permalink }}" alt="{{ $.Title }}">
            </a>
            {{ end }}
        {{ end }}
    {{ end }}
{{- end }}
