<article class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}

  {{ .Render "featured" }}
  
  <div>
    {{ partial "header_maincodefolding" . }}
    <br/>
    <div id="content" class="article-entry">
      {{ .Content }}
    </div>
      {{ partial "citation" . }}
  </div>

  <footer>
    {{ partial "footer-category" . }}
    {{ partial "code-folding" . }}
  </footer>
  {{ partial "related" . }}
</article>
{{ .Render "comments" }}
{{ .Render "prev-next" }}
