 {{ if and (not .Site.Params.disable_codefolding) (not .Params.disable_codefolding) (in (string .Content) "</pre>") }}
 <div id="go-to-folding-div" style="display: inline-block;vertical-align: top;height: 1px;margin-top: -4em;"></div>
 <div id="code-folding-buttons" class="btn-group pull-right">
   <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-_extension-text-contrast="">
     <span>{{ i18n "showhide_all_code" }}</span> 
     <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" style="min-width: 50px;">
   <li><a id="rmd-show-all-code" href="#go-to-folding-div">{{ i18n "show_all_code" }}</a>
   </li><li><a id="rmd-hide-all-code" href="#go-to-folding-div">{{ i18n "hide_all_code" }}</a></li>
   </ul>
 </div>
 {{ end }}
