{{- $t := site.Title -}}
<a href='{{ absLangURL "" }}' class="nav_brand nav_item{{ with .class }} {{ . }}{{ end }}" title="{{ $t }}">
  {{- with .logo }}
  <img src="{{ absURL . }}" class="logo" alt="{{ $t }}">
  {{- else -}}
   <h1>Lobotourisme &#x2687; &#9992;</h1>
  {{- end }}
  {{- if ne (strings.HasSuffix .class "center") true }}
  <div class="nav_close">
    <div>
      {{- partialCached "sprite" (dict "icon" "open-menu") -}}
      {{- partial "sprite" (dict "icon" "closeme") -}}
    </div>
  </div>
  {{- end }}
</a>
