
article img[src$='#floatleft'] {
    display: inline;
    float: left;
    height: auto;
    margin: .2em .5em auto .5em;
}
article img[src$='#floatright'] {
    display: inline;
    float: right;
    height: auto;
    margin: .2em .5em auto .5em;
}

.inline-svg {
    display: inline-block;
    height: 1.7rem;
    width: 1.7rem;
    top: 0.15rem;
    right: 0.3rem;
    position: relative;
}

header h1 {
    font-size: 1.7rem;
    margin-top: 1.7rem;
    margin-bottom: 0;
    font-weight: 600;
}
