{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $appleTouch := absURL (printf "%s%s" $iconsDir "apple-touch-icon.png") }}
{{- $favicon16 := absURL (printf "%s%s" $iconsDir "favicon-16x16.png" ) }}
{{- $favicon32 := absURL (printf "%s%s" $iconsDir "favicon-32x32.png" ) }}
{{- $favicon128 := absURL (printf "%s%s" $iconsDir "favicon-128x128.png" ) }}
{{- $favicon152 := absURL (printf "%s%s" $iconsDir "favicon-152x152.png" ) }}
{{- $favicon167 := absURL (printf "%s%s" $iconsDir "favicon-167x167.png" ) }}
{{- $favicon180 := absURL (printf "%s%s" $iconsDir "favicon-180x180.png" ) }}
{{- $favicon192 := absURL (printf "%s%s" $iconsDir "favicon-192x192.png" ) }}
{{- $favicon196 := absURL (printf "%s%s" $iconsDir "favicon-196x196.png" ) }}
{{- $manifest := absURL (printf "%s%s" $iconsDir "site.webmanifest" ) }}

<link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouch }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16 }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32 }}">
<link rel="icon" type="image/png" sizes="128x128" href="{{ $favicon128 }}">
<link rel="icon" type="image/png" sizes="152x152" href="{{ $favicon152 }}">
<link rel="icon" type="image/png" sizes="167x167" href="{{ $favicon167 }}">
<link rel="icon" type="image/png" sizes="180x180" href="{{ $favicon180 }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ $favicon192 }}">
<link rel="icon" type="image/png" sizes="196x196" href="{{ $favicon196 }}">
<link rel="manifest" href="{{ $manifest }}">
